# Database
POSTGRES_DB=dropvox
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
DB_SCHEME=metadata

# MinIO / S3
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
S3_PUBLIC_ENDPOINT=http://localhost:9000
S3_BUCKET=dropvox-files
S3_REGION=us-east-1
PRESIGNED_URL_EXPIRY_MINUTES=5
